@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

:root {
  --pink: #efb0c9;
  --blue: #a2d2ff;
  --white: #ffffff;
  --text-shadow: 0px 0px 1px black;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Happy Monkey', cursive;
}

body {
  text-align: center;
  padding-top: 2rem;
  color: var(--white);
  background-color: var(--blue);
  background: linear-gradient(lightblue, pink);
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mike {
  max-height: 8rem;
  width: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: var(--pink) 5px solid;
}

h1,
h2,
h3,
h4 {
  text-shadow: var(--text-shadow);
}

#age,
#date {
  background-color: var(--pink);
  padding: 0.25rem 0.75rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.container {
  margin-top: 1.5rem;
}

.hover {
  width: 30%;
  height: 400px;
  margin: 0 auto;
}

.hide {
  width: auto;
  height: 100%;
  background-size: cover;
  border: var(--white) 5px solid;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  background-image: url(./img/hide.webp);
}

#one:hover {
  background-image: url(./img/01.webp);
}

#two:hover {
  background-image: url(./img/02.webp);
}

a {
  color: var(--white);
}

footer {
  padding: 2rem;
}

p,
a {
  font-size: 1.5rem;
  text-shadow: var(--text-shadow);
}
