#card--container {
  display: flex;
  gap: 1.5em;
  padding: 2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  flex-wrap: nowrap;
}

.card {
  /* display: flex; */
  flex-direction: column;
}

.card-img {
  position: relative;
  object-fit: cover;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

.status {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.25em;
  font-size: 12px;
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

.bold {
  font-weight: bold;
}

.rating {
  display: flex;
  gap: 0.254em;
  margin-top: 0.5em;
  align-items: center;
}

.ratings,
.country {
  color: #918e9b;
  font-size: 0.85em;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
