:root {
  --primary-color: #5f9341;
  --font: system-ui;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

#container {
  padding: 1.5rem;
  min-width: 400px;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  margin-bottom: 0.5rem;
}

button {
  padding: 0.65rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 1.25rem;
}

ul li {
  margin-top: 0.3rem;
}

li a {
  color: var(--primary-color);
}
