@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
}

body {
  margin: 0;
  color: #009999;
  text-align: center;
}

#hero {
  padding: 2rem 0;
  background-size: cover;
  background-image: url(./img/universe.gif);
}

#apply-btn {
  font-weight: bolder;
  color: #009999;

  padding: 0.5rem 0.75rem;
  background-color: white;
  border: none;
}

#exploration {
  border-bottom: 5px solid #fff;
}

#logo {
  width: 15%;
  height: auto;
}

#title {
  text-shadow: 2px 2px white;
}
