:root {
  --primary-color: #016f32;
  --secondary-color: rgb(218, 165, 32);
  --white-color: white;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background-image: url(./img/blackjack.jpg);
  background-size: cover;
  font-weight: bold;
  text-align: center;
}

.container {
  display: grid;
  place-items: center;
}

h1 {
  color: var(--secondary-color);
}

#message-el {
  font-style: italic;
}
h2,
h3 {
  color: var(--white-color);
}

button {
  color: var(--primary-color);
  width: 150px;
  background: var(--secondary-color);
  padding: 1.15rem;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
}
