:root {
  --main-color: #f55a5a;
}

#navbar {
  background-color: var(--main-color);
  padding: 1em;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 1em;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: lighter;
}
