*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', system-ui, sans-serif;
  background-image: url('./assets/table.webp');
}

#app {
  color: white;
  display: flex;
  margin: 0 auto;
  max-width: 65rem;
  padding: 1.5em;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

h3 {
  margin: 1.25em 0;
}

#title {
  font-size: 2.5em;
  text-shadow: 5px 5px 5px #000;
}

#deck {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.container--cards {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card-slot {
  border: 1px solid black;
  border-radius: 5px;
  height: 120px;
  width: calc(120px * 5 / 7);
}

.card-slot img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn {
  width: 100%;
  margin: 0.5em;
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #000;
  border-radius: 0.25em;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 1.25em;
}

.btn:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.btn:disabled {
  background-color: rgb(165, 165, 165);
  color: #000;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  #deck {
    flex-direction: row;
  }
  .btn {
    width: auto;
  }

  .card-slot {
    height: 300px;
    width: calc(300px * 5 / 7);
  }
}
